*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#form-wrapper{
  margin: 0 auto 0 auto;
  align-content:center;
  max-width:440px!important;
  min-height:100%;
  padding-top:60px;
}

input[type="password"].indexpg-form{
  margin-bottom: 5px;
}

input[type="text"].indexpg-form{
  margin-bottom: 5px;
}

fieldset.indexpg-form{
  margin-bottom: 5px;
}

form.centerForm {
  font-weight:600;
  display:block;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  border-style:solid;
  border-width:thin;
  border-color:lightgrey;
  box-shadow:7px 7px 55px rgba(0,0,0,0.55);
}

form.smallForm{
  margin: 10px 10px 30px 50px;
  float:right;
  max-width:350px!important;
  font-weight:500;
  display:block;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  border-style:solid;
  border-width:thin;
  border-color:lightgrey;
  box-shadow:0 0 15px rgba(0,0,0,0.3);
}

.login-pg-background{
  /*background-color:whitesmoke;*/
  background-image: url('../images/light-blue-0.svg');
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position:50% 0;

  /*background: url('../images/aquaradiance_1024x768.jpg') no-repeat center center fixed;*/
  /*background-image: url('../images/light-blue-4.jpg');*/
  /*background-image: url('../images/light-orange.png');*/
  /*background-image: url('../images/orange-abstract.jpg');*/

  position:absolute;
  top:60px;
  bottom:0px;
  left:0px;
  right:0px;
}

.signup-pg-background{
  /*background-color:whitesmoke;*/
  background-image: url('../images/aquaradiance_1024x768.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position:50% 0;

  /*background-image: url('../images/blueprint_1600x1200.jpg');*/
  /*background-image: url('../images/light-blue-0.svg');*/
  /*background-image: url('../images/light-blue-4.jpg');*/
  /*background-image: url('../images/light-orange.png');*/
  /*background-image: url('../images/orange-abstract.jpg');*/

  position:absolute;
  top:60px;
  bottom:0px;
  left:0px;
  right:0px;
}

.formTitle{
  text-align:center;
  font-weight:500;
}

h2.formTitle{
  margin-bottom: 0px;
  margin-top:10px;
}

#error_msg{
  font-weight:bold;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  color:#b94a48;
  background-color:#f2dede;
  border-style:solid;
  border-color:#b22222;
  border-width:thin;
  border-radius:4px;
  padding:5px;
  margin-bottom:10px;
}

.close-box{
  cursor:pointer;
  font: 20px/100% arial, sans-serif;
  color: #ffffff;
  float:right;
  margin-right:2px;
  margin-top:1px;
  padding: 1px 3px 1px 3px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: #e74c3c;
}

input[type="text"].redHighlight{
  color:#b94a48;
  border-style:solid;
  border-color:#b22222;
  border-width:thin;
  border-radius:4px;
}

input[type="password"].redHighlight{
  color:#b94a48;
  border-style:solid;
  border-color:#b22222;
  border-width:thin;
  border-radius:4px;
}

label.labelTitle{
  font-weight:600;
  font-size:18px;
  color:#555555;
}

input{
  font-weight:600;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color:dodgerblue;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid white;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}
