html {
  background-color: #e6e9e9;
  background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
  -webkit-font-smoothing: antialiased;
  min-height:100%;
	position:relative;
	margin: 0 8px 8px 8px;
	bottom: 8px;
}

body {
	display:inline-block;
	min-width:100%;
	min-height:100%;
  padding: 70px 0 0 0;
	margin: 0 8px 0 0;
  color: #545454;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5em;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.06);
  font-family: 'Noto Sans', sans-serif;
}

.bodysection{
  margin: 33px 170px 0em 170px;
	display:block;
}

#signup-success{
	padding-top:100px;
	text-align:center;
	font-size:30px;
	font-weight:500;
	color:rgba(0,0,0,.9);
	background-color:#dadada;
	text-shadow:rgba(0,0,0,.2) 2px 3px 4px,rgba(255,255,255,.4) 0 -4px 30px;
}

.success-pg-background{
  background-image: url('../images/light-blue-0.svg');
	/*background-image: url('../images/light-blue-4.jpg');*/
	/*background-image: url('../images/light-orange.png');*/
	/*background-image: url('../images/orange-abstract.jpg');*/
	/*background-image: url('../images/light-blue-2.jpg');*/
	/*background-color:whitesmoke;*/
	/*background-color:#d5d5d5;*/
	background-size:cover;
	position:absolute;
	top:60px;
	bottom:0px;
	left:0px;
	right:0px;
}

.grid-pg-background{
  min-height:980px;
  margin-top:2px;
}

h1{
  /*text-align:center;*/
  color:#212121;
}

h2{
  color:#4B4B4B;
}

nav{
  position: fixed;
  height:60px;
  margin:0;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #004679;
  min-width:50em;
  width:100%;
  overflow:hidden;
  z-index:1;
}

.shadownav{
  box-shadow: 1px 5px 70px dimgray;
}

a.banner-logo-container {
  height:inherit;
  float: left;
  padding: 5px 0 5px 8px;
  z-index: 2;
}

#logo{
  height:50px;
  float:left;
  box-shadow: 13px 5px 10px rgba(0, 0, 0, 0.5)
}

#logotxt{
  margin-left: 18px;
  margin-right: 18px;
  font-size: 28px;
  vertical-align:-65%;
  letter-spacing: .1em;
  text-shadow: 10px 3px 7px rgba(0, 0, 0, 0.5);
}

#menubar{
  height: inherit;
  margin-right: 25px;
  float: right;
}

#menubar>li{
  display:inline-block;
}

.headlink{
  padding: 18px 16px 17px 16px;
  letter-spacing: .1em;
}

.signin_link{
  background-color:dodgerblue;
  padding: 3px 15px 3px 15px;
  border: 2px solid white;
  border-radius: 10px;
  margin-left:12px;
}

#homeclick{
  color:gold;
  box-shadow: 12px 4px 30px rgba(0, 0, 0, 0.35);
  border-right-style:inset;
  border-right-color:#03396c;
  border-right-width:thin;
}

#on{
  color:gold;
  text-shadow: 2px 2px 6px #2e2e2e;
  background-color:#005b96;
  box-shadow: 8px 1px 7px rgba(0, 0, 0, 0.3);
  border-bottom-style:solid;
}

a{
  vertical-align:middle;
}

a:link{
  color:white;
  font-size:18px;
  font-weight:600;
  text-decoration: none;
}

a:visited{
  color:white;
  text-decoration: underline;
}

a:hover{
  color:gold;
  background-color:#005b96;
}

a.default-link:link{
	color:blue;
	font-size:18px;
	font-weight:600;
	text-decoration:underline;
}

a.default-link:visited{
	color:indigo;
	font-size:18px;
	font-weight:500;
	text-decoration:underline;
}

a.default-link:hover{
	color:gold!important;
  background-color:#005b96;
}

footer{
  background-color:darkgoldenrod;
  color:aliceblue;
  font-weight:700;
	display:inline-block;
	margin-top:50px;
  bottom:0px;
	right:0px;
	left:0px;
  width:100%;
	z-index:1;
}

footer.absolutePos{
	position:absolute;
}

footer > ul{
  padding-top: 2px;
  padding-bottom: 5px;
  margin: 0 0 0 0;
}

footer > ul > li{
  display:inline-block;
  text-shadow:#2e2e2e 0 4px 5px;
  margin-right: 10px;
  margin-left: 10px;
}

footer > ul > li a.footLink{
  vertical-align:baseline;
  text-shadow:#000000 0 4px 4px;
  font-size:14px;
  color:#fff;
  text-decoration:underline;
}

footer > ul > li a:hover{
  color:dodgerblue;
}

footer > ul > li a:visited{
  color:#b3cde0;
}

table{
  border-style:outset;
  /*border-color:#004679;*/
  border-color:#0769ad;
  border-width:thin;
  box-shadow: 3px 3px 23px rgba(1, 1, 1, 0.6)
}

caption{
  font-size: 30px;
  font-stretch: extra-expanded;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 3px;
  border-radius: 10px 10px 0 0;
  border-right: 3px solid rgba(2, 2, 2, 0.28);
  border-left: 3px solid rgba(2, 2, 2, 0.28);
  border-top: 3px solid rgba(250, 250, 250, 0.27);
  border-bottom: 2.5px solid #333;
  /*box-shadow: -3px 0 5px -3px rgba(1, 1, 1, 0.87), 3px 0 5px -3px rgba(1, 1, 1, 0.87);*/
  /*border-top: 2px solid #7acef4;*/
  background: #0769ad;
  color: white;
}

tbody{
  color:black;
}

td{
  position:relative;
  min-width:250px;
  overflow:auto;
  border-top:1.5px solid #c0c0c0;
  /*border-left: 1.5px solid #e1e1e1;*/
  border-left: 1px solid #c0c0c0;
  padding: 4px;
  /*padding-bottom:10px;*/
  /*border-style:solid;*/
  /*border-color:white;*/
  /*border-width: thin;*/
}

th{
  background-color:#9BC4E2;
  border-style:ridge;
  border-width: thin;
  border-color:lightsteelblue;
}

#project_title_col{
  background-color:#FFF8DC;
}

#entry_cols{
  background-color:#F7F7F7;
}

hr{
  margin: 0 0 10px 0;
  border-color: white;
  border-style: outset;
}

.p_cell{
  /*text-align:center;*/
  cursor: pointer;
  /*word-wrap: break-word;*/
  vertical-align:top;
}

.p_descrip {
  text-align:left;
  font-style:italic;
  font-size:14.5px;
  line-height:140%;
  margin:0 0 0 0;
  padding-bottom:10px;
}

.t_descrip {
  text-align:left;
  font-style:italic;
  font-size:12.5px;
  line-height:140%;
  margin:0px;
  padding-bottom:5px;
}

.due-txt{
  /*padding-bottom:50px;*/
  margin:0;
  font-size:14px;
  /*text-align:right;*/
  border-radius: 3px;
  background-color:#FFFFF0;
  opacity:0.85;
  /*text-shadow:rgba(0,0,0,.2) 2px 3px 4px,rgba(255,255,255,.4) 0 -4px 30px;*/
  box-shadow:2px 2px 7px rgba(0, 0, 0, 0.1);
}

.item-title{
  margin:0;
  padding: 8px 0 8px 0;
  text-shadow:rgba(0,0,0,.2) 2px 3px 4px,rgba(255,255,255,.4) 0 -4px 30px;
}

.p_wrapper > .item-title{
  font-size:15px;
}

.p_wrapper{
  margin: 3px 3px 3px 3px;
  padding: 0 2px 45px 2px;
  text-align:center;
  word-wrap: break-word;
}

.t_wrapper{
  margin: 3px 3px 3px 3px;
  padding: 0px 2px 2px 2px;
  text-align:center;
  word-wrap: break-word;
}

.task-container{
  /*text-align:center;*/
  position: relative;
  border: 2px solid #fed22f;
  margin-bottom: 4px;
  cursor: pointer;
  /*word-wrap: break-word;*/
  border-radius: 3px;
  font-size: 13px;
  border-color: #4a99ff;
  background-color:#c3ddff;
  vertical-align:top;
}

button.task-in-proj{
  position:absolute;
  bottom:2px;
  left:0px;
  width:100%;
  padding: 0px 6px 0px 6px;
  margin:0;
  border-color: white;
  border-width: 1.5px 1.5px 1.5px;

  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
}

#white-border{
  border-style:solid;
  border-color: white;
  border-width: 2px 2px 2px;
}

#del-button-white-border{
  float:left;
  border-style:solid;
  border-color: white;
  border-width: 1px 1px 1px;
  background-color:lightcoral;
}

.del-button-white-border{
  float:left;
  border-style:solid;
  border-color: white;
  border-width: 1px 1px 1px;
  background-color:lightcoral;
}

.button-custom span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-custom span:after {
  /*content: "»";*/
  /*content: "\2945";*/
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-custom:hover span {
  padding-right: 25px;
}

.button-custom:hover span:after {
  opacity: 1;
  right: 0;
}

.color_Red{
  background-color:#ffccd6;
  /*background-color:#ff8099;*/
}

.color_Orange{
  /*background-color:#ffe7b6;*/
  /*background-color:#ffb13b;*/
  /*background-color:#ffbf00;*/
  background-color:#FFC36E;
}

.color_Yellow{
  /*background-color:#ffffe0;*/
  /*background-color:#fed22f;*/
  background-color:#fedf6a;
}

.color_Green{
  background-color:#dcffc2;
  /*background-color:#7dbb00;*/
}

.color_Blue{
  background-color:#c3ddff;
  /*background-color:#4a99ff;*/
}

.color_Purple{
  background-color:#efcef4;
  /*background-color:#c69cf3;*/
}

.task-container.color_Red{
  background-color:#ffccd6;
  border-color:#ff8099;
}

.task-container.color_Orange{
  background-color:#ffe7b6;
  border-color:#ffb13b;
}

.task-container.color_Yellow{
  background-color:#ffffe0;
  border-color:#fed22f;
}

.task-container.color_Green{
  background-color:#dcffc2;
  border-color:#7dbb00;
}

.task-container.color_Blue{
  background-color:#c3ddff;
  border-color:#4a99ff;
}

.task-container.color_Purple{
  background-color:#efcef4;
  border-color:#c69cf3;
}

.underline{
  text-decoration: underline;
}

.OVERDUE{
  background-color:#ff8099;
}
